@use 'topLeft';
@use 'topRight';
@use 'bottomLeft';
@use 'bottomRight';
@use 'nav';

body {
    box-sizing: border-box;
    margin: 0;
    // color: aliceblue;
}

.top-header {
    // height: 220px;
    width: 100%;
    position: relative;
    background-color: #12283E;
    display: flex;
    flex-direction: column;
    // margin: 0 4%;
    .content {
        display: flex;
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: space-between;
        padding-top: 10px;
        color: #fff;
    }
    .bottom-container {
        display: flex;
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        justify-content: space-between;
        height: 100px;
        // background-color: aliceblue;
        margin-top: 20px;
    }

    .navigation-header {
        position: relative;
        margin-left: 10%;
        margin-right: 10%;
        height: 60px;
        width: calc(100vw - 20%);
        // background-color: rgb(13, 14, 13);
    }
}